* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #051923;
  color: #d7cec9;
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Orbitron', sans-serif;
}

.nav-st {
  background-color: #051923;
  color: white;
}

.sidenav {
  background-color: #003554;
}

.sidenav .tab {
  color: white;
}

.s-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.brand-logo {
  margin-left: 5px;
}

.carousel-item {
  background-color: #003554;
}

#avatar {
  height: 150px;
  width: 150px;
  max-width: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-image:url("../images/profile-image.jpg");
  background-position: center;
  background-size: contain;
}

#nasa-link {
  height: 150px;
  max-width: 180px;
  cursor: pointer;
}

#spacex-link {
  height: 150px;
  max-width: 180px;
  cursor: pointer;
}

.indicators {
  margin-top: 50px;
}

.paralax-container {
  width: 100%;
}

.paralax {
  width: 100%;
}

.paralax img {
  width: 100%;
}

.imageOfTheDay {
  max-height: 500px !important;
  height: 500px !important;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.responsive-image {
  max-height: 500px !important;
  height: 500px !important;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.about-site {
  margin: 30px;
  text-align: center;
}

.results {
  margin: 0;
  padding: 0;
}

#menu {
  list-style: none;
  display: flex;
  background-color: #746c6b;
  min-height: 75px;
  border-radius: 3px;
  
}

#searchBar {
  margin: 10px;
  width: 200;
  margin-left: 40px;
}

.h-five {
  margin: auto;
  margin-top: 5px;
  width: 100px;
}

.nav-btn {
  margin: 20px;
  width: 150px;
  margin-right: 10px;
}


.dr-btn {
  height: 40px;
  width: 40px;
  background-color: white;
  display: none;
  border-radius: 2px;
  margin: 10px;
  justify-content: center;
}


.btn:hover, .dr-btn:hover {
  background-color:white;
}

#go-btn {
  margin: 20px;
  width: 75px;
}

a {
  color: #d7cec9;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.article {
  height: 1000px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.aside {
  height: 500px;
  width: 20%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: left;
}

.section {
  height: 500px;
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: right;
}

/* Hubble Definition Title */
.defTitle {
    padding: 30px 0px 0px 30px;
    font-size: larger;
    color: white;
}

.hubbleDefinition {
    background-color: #003554;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    font-size: large;
    padding-top: 20px;
}

#test2 strong {
  font-size: xx-large;
  color: white;
}

.rocket-button {
  background-color: #003554 !important;
  color: white !important;
}

.clear-button {
  background-color: #003554 !important;
  color: white !important;
}

.rocketContainer {
    margin-left: 20px;
}

.rocketContainer strong {
    font-size: x-large;
}

.rocketsDiv {
  border-radius: 10px;
    background-color: #003554;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  
.rocketsDiv a {
    border-radius: 5px;
    background-color: #006494 !important;
    color: white;
    padding: 5px;
}

.rocketName {
    font-size: large;
}

.rocketCountry {
    margin: 3px;
    margin-bottom: 10px;
}

.rocketDescription {
    margin: 10px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#searchResult {
  height: 55px;
  width: 60%;
  background-color: #0a5568;
  border: 2px solid black;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  padding: 0;
}

.quoteDiv {
  /* font-size: 30px; */
  color: white;
}

.launchDatesDiv {
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px 20px 100px;
}

@media screen and (max-width: 600px) {

    .launchDatesDiv {
        display: none;
    }

    .imageOfTheDay {
        display: none;
    }

    .brand-logo {
      font-size: large !important;
      flex-wrap: nowrap;
    }
    
}

.launchTitle {
    color: limegreen;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.launchCardStyle {
    background-color: black;
    border-radius: 10px;
    font-size: large;
    color: limegreen;
    text-align: center;
    height: 150px;
    width: 300px;
    margin: 3px;
    padding: 10px;
}

.launchCardStyle:nth-child(even) {
   background-color: darkblue;
    border-radius: 10px;
    font-size: large;
    color: white;
    text-align: center;
    height: 150px;
    width: 300px;
    margin: 3px;
    padding: 10px;
}

.launchCardStyle:nth-child(6) {
   display: none;
}

.launchCardStyle:nth-child(7) {
   display: none;
}

.launchCardStyle:nth-child(8) {
   display: none;
}

.launchCardStyle:nth-child(9) {
   display: none;
}

.launchCardStyle:nth-child(10) {
   display: none;
}

.newsDiv {
    margin-top: 40px;
}

.newsDiv a {
    border: 1px solid white;
    border-radius: 10px;
    background-color: turquoise;
    padding: 5px;
}

.spaceFlightNewsHeader {
    font-size: x-large;
}

/* need to move results center */
/* .spaceFlightNewsContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
} */

.spaceFlightNewsCard {
    border-radius: 10px;
    background-color: #003554;
    color: white;
    margin: 3px;
    padding: 15px;
}

.newsResults {
    font-size: large;
    margin-bottom: 10px;
}

.linkDiv {
    background-color: #006494 !important;
    color: white;
}

.pDateDiv {
    margin-top: 10px;
}

.hidingQuery {
    display: none;
}

.quoteDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    margin: 10px;
    padding: 10px;
}

.inputFontColor {
    color: white;
}

.s-title {
  font-size: 2em;
  width: fit-content;
  margin: 0;
}

.dropdown-content {
  background-color: white;
  color: black;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  height: fit-content;
}


.btn {
  background-color: grey;
  height: 30px;
  text-align: center;
  width: 110px;
  border-radius: 2px;
  color: black;
}

.sc-btn {
  display: flex;
  flex-wrap: wrap;

}

.sc-sc {
  margin: 50px;
}

.input-field {
  min-width: 500px;
  width: 700px;
}

#burg {
  height: 40px;
  width:40px;
}

.sx-arc {
  min-width: 470px;
}



